# стадии нашего pipeline. Для группировки jobs.
# Нужно помнить, что stages выполняются последовательно, а job параллельно.
stages:
  # укажем одну стадию с именем test
  - test
  - build

# укажем нужный Docker образ глобально
image: node:14.17.0-alpine

# определим кеширование
cache:
  # ключ кеширования
  key:
    # файл или файлы
    files:
      # наш lock-файл с зависимостями
      - package-lock.json
  # что кешировать
  paths:
    - .npm/

# определим новую секцию для подготовки кеша
before_script:
  - npm ci --cache .npm --prefer-offline

# создадим job с именем eslint
eslint:
  # добавим ее в стадию test
  stage: test
  # секция script описывает шаги
  script:
    # запуск ESLint
   - npm run lint

prettier:
  stage: test
  script:
    - npm run check:format # npx prettier --single-quote --write .

tsc:
  stage: test
  script:
    - npm run check:types

build:
  stage: build
  script:
    - npm run build
  artifacts:
    paths:
      - build
    expire_in: 1 week